<%= form_with model: @collection, local: true do |form| %>

  <%= render 'shared/error_messages', errors: @collection.errors %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :fandom %><br>
    <%= form.collection_select(:fandom_id, Fandom.all, :id, :name, {include_blank: "Select fandom"}) %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
