<%= form_with(model: @collection) do |form| %>

  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@collection.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @collection.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :fandom %><br>
    <%= form.collection_select(:fandom_id, Fandom.all, :id, :name, include_blank: true) %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
