<h1>New Collection</h1>

<%= form_with scope: :collection, url: collections_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :fandom %><br>
    <%= form.text_field :fandom %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<p><%= link_to 'Back', collections_path %></p>
