<%= form_with model: @fandom, local: true do |form| %>

  <%= render 'shared/error_messages', errors: @fandom.errors %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :category %><br>
    <%= form.text_field :category %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
