<%= provide :title, @fandom.name %>

<h1><%= @fandom.name %></h1>

<p>
  <strong>Category:</strong>
  <%= @fandom.category %>
</p>

<p>
  <%= link_to 'Back to Fandoms', fandoms_path %>

<% if current_user && current_user.admin? %>
  | <%= link_to 'Edit', edit_fandom_path(@fandom) %>
  | <%= link_to 'Delete', fandom_path(@fandom),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
<% end %>

</p>

<h2><%= pluralize(@fandom.collections.count, "Collection") %></h2>
<ol>
  <%= render @fandom.collections %>
</ol>
