<%= provide :title, @fandom.name %>

<h1><%= @fandom.name %></h1>

<p>
  <strong>Category:</strong>
  <%= @fandom.category %>
</p>

<h2>Collections</h2>
<ol>
  <%= render @fandom.collections %>
</ol>

<p>
  <%= link_to 'Edit', edit_fandom_path(@fandom) %> |
  <%= link_to 'Back to Fandoms', fandoms_path %>
</p>

